* {
    box-sizing: border-box;
    margin: 0;
    text-transform: uppercase;
  }
  
  html { scroll-behavior: smooth; }

  .archivo-test {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  
  :root {
  
    /* fonts */
    --font-large: 2rem;
    --font-default: 1.2rem;
    --font-small: 0.8rem;
  
    /* colors */
    --clr-text-dark: #1b191c;
    --clr-text-light: #eaf0f3;
  
    /* background colors */
    --background-light: #fff;
    --background-dark: #310447;
  
    /* branding, gradients */
  
    /* bubble gum */
    --clr-branding-1:rgba(217, 115, 169, 0.5);
    --clr-branding-2:rgba(100, 185, 228, 0.5);
    --gradient-1: linear-gradient(35deg, var(--clr-branding-1), var(--clr-branding-2));
    --gradient-2: linear-gradient(-35deg, var(--clr-branding-2), var(--clr-branding-1));

    /* dark */

    --clr-dark-1: rgb(0, 0, 0);
    --gradient-dark-1: linear-gradient(45deg, rgb(6, 6, 6), rgb(141, 118, 163));
  
    /* layout */
    --padding-inline-large: 2.5em;
    --padding-inline-small: 1em;
    --padding-large: 2em;
    --padding-small: 1em;
    --margin-large: 3.5em;
    --margin-small: .5rem;
    --border-radius-small: 0.5rem;

    /* COLOR SCHEMES */

    --linear-bg-1: linear-gradient(10deg, rgb(6, 6, 6), rgb(255, 255, 255));
    --linear-abstract-1: linear-gradient(4deg, rgb(6, 6, 6), rgb(237, 250, 234));

    /*EFFECTS*/
    

  }
  
  /* RESET */
  
  body {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Test";
  }
  
  img {
    margin: 0;
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  section {
    min-height: 100vh;
  }
  
  .flex {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    gap: 1.2em;
  }
  
  /*   H E A D E R  */
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    /* background: linear-gradient(to right, rgba(96, 2, 82, 0.2), rgba(1, 47, 77, 0.2));
    color: var(--clr-text-light); */
    padding-inline-start: var(--padding-inline-small);
    padding-inline-end: var(--padding-inline-small);
    border-bottom: 1px solid black;
    background: transparent;
   color: black;
  }
  
  .header-menu {
    position: relative;

  }
  
  .mode {
    position: relative;
  }
  
  .mode > label {
    height: 100%;
    display: block;
    cursor: pointer;
  }
  

  
  .header-menu > .menu-btn {
    width: 3em;
    cursor: pointer;
  }
  
  .svg-icon {
    cursor: pointer;
    pointer-events: none;
  }

  .svg-icon__el {
    fill: black;
    /* transition-duration: .3s; */
    /* stroke: black; */
  }

  .svg-icon__el:hover {
    fill: blue;
  }
  
  .a11y-menu {
    height: 0;
    position: absolute;
    top: 4em;
    left: -3em;
    padding: 1em .5em;
    background-color: #222297;
    opacity: 0;
    transition-duration: .3s;
    /**/
    transform: translateX(15em);
  }
  
  .active {
    height: fit-content;
    opacity: 1;
    transform: translateX(0em);
  }
  
  .letter-spacing {
    text-align: center;
  }
  
  .wrap > a {
    font-size: 2em;
    color: black;
  }
  
  h1 {
    transform: translateX(-10000px) translateY(-10000px);
  }

  /* W E L C O M E */

.welcome {
    position: relative;
    top: 0;
    left: 0;
    height: 120vh;
    /**/
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    /**/
    padding-top: 3.3em;
  }

  .welcome-wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    height: 30%;
  }

  /* transform: translateZ( -10px) scale(2); */
  
  .svg-wrap {
    position: absolute;
    inset: 0;
    z-index: 1;
    /* background: var(--gradient-1); */
    /* border: .5em dotted chartreuse; */
    border-bottom: 5px solid;
  }

  .svg-el {
    height: 100%;
    width: 100%;
  }

  .bg, .fg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transition-duration: 1s;
  }

  .bg {
    transform: translateZ(-10px) scale(2);
  }
  
  .fg {
    transform: translateZ(-20px) scale(1.2) rotateY(1deg);
    filter:blur(1px);
    background: repeating-linear-gradient(0.65turn, transparent, rgb(133, 133, 213) .5rem),
    repeating-linear-gradient(0.35turn, rgb(136, 0, 255), transparent .5rem);
  }
  
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
  }
  
  .title-wrap {
    position: relative;
    /* top: 10%; */
    text-align: right;
    color: black;
    /* text-shadow: 0 0 5px red;
    border: 1px solid green; */
    z-index: 10;
    /**/
    /* padding-right: 1em; */
    background: beige;
    /* line-height: 2em; */
    transition-duration: 2s;
    /**/
    /* display: inline-block; */
  /* height: fit-content;
  left: 70%; */

  padding-right: 1em;
  }

  .title-wrap > h2 {
    border-bottom: 1px solid;
    display: inline-block;
  }

  .title-wrap:hover {
    line-height: 2em;
    border-radius: 109px 20px 245px 20px;
    background: rgba(0, 68, 255, .5);
    padding-right: 1em;
  }

  .title-wrap p:last-of-type {
    text-align: right;
    background: wheat;
    display: inline-block;
  }
/* 
  .title-wrap::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: wheat;
  }
   */
  /*  N A V I G A T I O N  */

nav {
    line-height: 2em;
    background: var(--gradient-2);
    text-align: center;
  }
  
  .nav-main {
    /* background-image: url('./img/npl-tru.png');
    background-size: cover;
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-weight: 900; */
    /**/
    border-bottom: 1px solid;
  background: white;
  text-align: right;
  /**/
  display: inline-block;
  }
  

  
  .nav-btn {
    position: relative;
    color: rgb(5, 5, 5);
    text-decoration: none;
    /* font-weight: bold;
    height: 100%;
    width: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /**/

    display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  font-size: 1.5em;
  font-weight: 900;
  }
  
  .nav-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--radial-2);
    transition-duration: .7s;
    opacity: 0;
    z-index: -1;
  }
  
  /* .nav-btn:hover::before {
    transform: translateX(2em);
    opacity: 1;
    background-image: url('./img/rekbu.png');
    box-shadow: 1em 1em 1em orange;
  } */

  .welcome-text {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px) scale(2.2) rotateY(1deg);
    filter: blur(1px);
    font-size: 3em;
    border: 1px solid;
    background: blue;
  }

  .welcome-text > p {
    color: white;
    display: inline-block;
    background-color: white;
  }
  

  .welcome-content {
    position: relative;
    height: 80%;
    width: 100%;
    border: 1px solid;
    background-color: rgb(37, 108, 250);
    background: linear-gradient(to bottom, white, rgba(255, 143, 246, .1), rgba(250, 128, 114, .5), rgba(37, 108, 250, .3));
  }

  .more-content {
    position: absolute;
    top: 100%;
    display: flex;
  flex-direction: row-reverse;
  }

  .welcome-card {
    background-color: rgba(0, 0, 255, 0.5);
  }

  .text-wrap {
    font-size: 1.2rem;
    width: 50%;
    transition-duration: .7s;
  }

  .text-wrap:hover {
    text-decoration-line: line-through;
  }

  .deco {
    margin-top: 10em;
    border: .2em dotted rgb(179, 0, 255);
    height: 50%;
    opacity: 1;
    /**/
    /* background-image: url('./public/img/pas-ker.png'); */
    background: linear-gradient(to bottom, transparent 50%, rgba(76, 54, 244, 0.2) 50%),
    linear-gradient(to right, rgba(97, 124, 162, 0.2) 50%, #1263e6 50%);
    background-size: 10px 10px, 10px 10px;
    transition-duration: 2s;
  }

  .deco:hover {
    opacity: .2;
    background-size: 350px 650px, 10px 10px;
  }

  .test {
    position: absolute;
    top: 100%;
    width: 50%;
    font-size: 2em;
    padding-left: 1em;
    color: chartreuse;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(26, 255, 0), 0 0 0.2em rgb(32, 31, 30);
  }

