* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html { scroll-behavior: smooth; }

  .archivo-test {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  :root {
  
    /* fonts */
    --font-large: 2rem;
    --font-default: 1.2rem;
    --font-small: 0.8rem;
  
    /* colors */
    --clr-text-dark: #1b191c;
    --clr-text-light: #eaf0f3;
  
    /* background colors */
    --background-light: #fff;
    --background-dark: #310447;
  
    /* branding, gradients */
  
    /* bubble gum */
    --clr-branding-1:rgba(217, 115, 169, 0.5);
    --clr-branding-2:rgba(100, 185, 228, 0.5);
    --gradient-1: linear-gradient(35deg, var(--clr-branding-1), var(--clr-branding-2));
    --gradient-2: linear-gradient(-35deg, var(--clr-branding-2), var(--clr-branding-1));

    /* dark */

    --clr-dark-1: rgb(0, 0, 0);
    --gradient-dark-1: linear-gradient(45deg, rgb(6, 6, 6), rgb(141, 118, 163));
  
    /* layout */
    --padding-inline-large: 2.5em;
    --padding-inline-small: 1em;
    --padding-large: 2em;
    --padding-small: 1em;
    --margin-large: 3.5em;
    --margin-small: .5rem;
    --border-radius-small: 0.5rem;

    /* COLOR SCHEMES */

    --linear-bg-1: linear-gradient(10deg, rgb(6, 6, 6), rgb(255, 255, 255));
    --linear-abstract-1: linear-gradient(4deg, rgb(6, 6, 6), rgb(237, 250, 234));

    /*EFFECTS*/
    

  }
  
  /* RESET */
  
  body {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: white;
  }
  
  img {
    margin: 0;
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  section {
    min-height: 100vh;
    /**/
    padding-top: 3.25em;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /**/

  .hidden {
    display: none;
  }

  .flex {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    gap: 1.2em;
  }
  
  /*   H E A D E R  */
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-inline-start: var(--padding-inline-small);
    padding-inline-end: var(--padding-inline-small);
    border-bottom: 1px solid black;
    background: transparent;
    color: black;
  }

  .wrap {
    position: relative;
  }
  
  .header-menu {
    /* position: relative; */
    gap: 1.5em;
    width: 20%;
    
    /**/
    display: flex;
    align-items: center;
  }
  
  .mode {
    position: relative;
  top: 0;
  left: 0;
  width: 25%;
  border: 2px solid;
  height: 50%;
  border-radius: 2px;
  }

  .mode > label {
    height: 100%;
    display: block;
    cursor: pointer;
  }



  .switch-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #fcfcfc;
    transition-duration: .5s;
  }

  #switch-mode:checked + .switch-icon {
    transform: translateX(100%);
    background-color: black;
  }

  /* .switch-icon::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #1263e6;
  } */

  .mode > label > input {
    height: 0;
    width: 0;
  }
  
  .header-menu > .menu-btn {
    width: 3em;
    cursor: pointer;
  }
  
  .svg-icon {
    cursor: pointer;
    pointer-events: none;
  }

  .svg-icon__el {
    fill: black;
    /* transition-duration: .3s; */
    /* stroke: black; */
  }

  .svg-icon__el:hover {
    fill: blue;
  }
  
  .a11y-menu {
    /**/
    /* display: none; */
    /**/
    position: absolute;
    top: 5em;
    left: -15em;

    background-color: white;
    opacity: 0;
    transition-duration: .3s;
    transform: translateX(15em);
    border: .2em solid;
    text-transform: uppercase;
    height: 0;
}
  
  .active {
    /* display: block; */
    height: 15em;
    opacity: 1;
    box-shadow: 0em 0em 6em 2em;
    padding: 1em .5em;
  }

  .close-btn {
    border: 1px solid;
    padding: 0.2em .5em;
    transform: translateX(15em);
    cursor: pointer;
    font-size: 1.1em;
    transition-duration: .3s;
  }

  .close-btn:hover {
    background-color: black;
    color: white;
    font-weight: 900;
  }
  
  .letter-spacing {
    text-align: center;
  }
  
  .wrap > a {
    font-size: 2em;
    color: black;
  }

  /**/
  main {
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* W E L C O M E */

.welcome {
    position: relative;
    top: 0;
    left: 0;
    height: 120vh;
    /**/
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    
  }

  .welcome-wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    height: 30%;
  }

  .svg-wrap {
    position: absolute;
    inset: 0;
    z-index: -1;
    /* background: var(--gradient-1); */
    /* border: .5em dotted chartreuse; */
    border-bottom: 5px solid;
  }

  .svg-el {
    height: 100%;
    width: 100%;
  }

  .bg, .fg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transition-duration: 1s;
  }

  .bg {
    transform: translateZ(-10px) scale(2);
  }
  
  .fg {
    transform: translateZ(-20px) scale(1.2) rotateY(1deg);
    filter:blur(1px);
    background: repeating-linear-gradient(0.65turn, transparent, rgb(133, 133, 213) .5rem),
    repeating-linear-gradient(0.35turn, rgb(136, 0, 255), transparent .5rem);
  }
  
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
  }
  
  .title-wrap {
    position: relative;
    text-align: right;
    color: black;
    z-index: 10;
    background: rgb(51, 0, 255);
    transition-duration: 2s;
    
  }

  .title-wrap > h2 {
    border-bottom: 1px solid;
    display: inline-block;
    font-weight: 900;
    padding-left: 1.8em;
    padding-right: .8em;
    background: white;
    text-transform: uppercase;
  }

  .title-wrap p:last-of-type {
    text-align: right;
    background: wheat;
    display: inline-block;
  }

  /*  N A V I G A T I O N  */

nav {
    line-height: 2em;
    background: var(--gradient-2);
    text-align: center;
  }
  
  .nav-main {
    border-bottom: 1px solid;
    background: white;
    text-align: right;
    /**/
    display: inline-block;
  }
  
  .nav-btn {
    position: relative;
    color: rgb(5, 5, 5);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    font-size: 1.5em;
    font-weight: 900;
  }
  
  .nav-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--radial-2);
    transition-duration: .7s;
    opacity: 0;
    z-index: -1;
  }
  
  .content-wrap {
    position: relative;
    height: 50%;
    width: 100%;
    /* border: 1px solid; */
    background-color: #eee;
    /* background: linear-gradient(to bottom, white, rgba(252, 236, 250, 0.6), rgba(250, 128, 114, .5), rgba(37, 108, 250, .3)); */
    /**/
    /* background: repeating-radial-gradient(circle at 10%, #333, #333 10px, #eee 10px, #eee 10px); */

    /* background: repeating-radial-gradient(circle at 100%, #fdf7f7, rgb(255, 255, 255) 100px, pink 0px, gainsboro 100px); */
    /* opacity: .1; */
    transition-duration: .4s;
    border-right: 3.5em solid blue;
  }

  .content-title {
    line-height: 2.5em;
    /* background-color: cornflowerblue; */
    padding-left: 1.5em;
  }

  .content-title > p {
    color: black;
    display: inline-block;
    border-bottom: 1px solid;
    text-decoration: black;
    font-weight: 900;
    letter-spacing: .3em;
    background: white;
  }

  .welcome-content{
    height: 100%;
  }

  .welcome-content:hover {
    opacity: 1;
    background: repeating-radial-gradient(circle at 10%, #333, #333 10px, #eee 10px, #eee 20px);
  }

  .welcome-spacer {
    height: 4em;
    border: 1px solid;
    background-color: lavenderblush;
  }

  .more-content {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .welcome-card {
    background-color: rgba(0, 0, 255, 0.5);
  }

  .text-wrap {
    font-size: 1.2rem;
    width: 50%;
    transition-duration: .7s;
  }

  .text-wrap:hover {
    text-decoration-line: line-through;
  }

  .deco {
    margin-top: 10em;
    border: .2em dotted rgb(179, 0, 255);
    height: 50%;
    opacity: 1;
    /**/
    /* background-image: url('./public/img/pas-ker.png'); */
    background: linear-gradient(to bottom, transparent 50%, rgba(76, 54, 244, 0.2) 50%),
    linear-gradient(to right, rgba(97, 124, 162, 0.2) 50%, #1263e6 50%);
    background-size: 10px 10px, 10px 10px;
    transition-duration: 2s;
  }

  .deco:hover {
    opacity: .2;
    background-size: 350px 650px, 10px 10px;
  }

  .test {
    position: absolute;
    top: 100%;
    width: 50%;
    font-size: 2em;
    padding-left: 1em;
    color: chartreuse;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(26, 255, 0), 0 0 0.2em rgb(32, 31, 30);
  }


  .font-small {
    font-size: .8rem;
  }

  .font-default {
    font-size: 1.2rem;
  }

  .font-large {
    font-size: 2.2rem;
  }

  .changeContent{

    animation-name: changeContent;
    animation-duration: .5s;
    animation-timing-function: linear;
  }

  @keyframes changeContent {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @media (max-width: 30rem) {

    section {
      padding-top: 3.85em;
    }

    .header-menu {
      width: 45%;
      gap: 1em;
    }

    .mode {
      width: 25%;
    }

    .switch-icon {
      width: 100%;
    }

    #switch-mode:checked + .switch-icon {
      background-color: black;
    }

    .wrap > a {
      font-size: 1.2em;
      text-align: right;
    }

    .a11y-menu {
      width: 95%;
      transform: translateX(-50%);
      transition-duration: .7s;
    }

    .active {
      transform: translateX(90%);
    }

    .a11y-menu > button {
      transform: translateX(10.5em);
      font-size: 1.3em;
    }

    .nav-main {
      display: flex;
      flex-direction: column;
      gap: 1em;
      text-align: left;
      padding: .5em 0;
    }

    .title-wrap {
      border-left: 4em solid blue;
    }
  }
  