* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html { scroll-behavior: smooth; }
  
  :root {
  
    /* fonts */
    --font-large: 2rem;
    --font-default: 1.2rem;
    --font-small: 0.8rem;
  
    /* colors */
    --clr-text-dark: #1b191c;
    --clr-text-light: #eaf0f3;
  
    /* background colors */
    --background-light: #fff;
    --background-dark: #310447;
  
    /* branding, gradients */
  
    /* bubble gum */
    --clr-branding-1:rgba(217, 115, 169, 0.5);
    --clr-branding-2:rgba(100, 185, 228, 0.5);
    --gradient-1: linear-gradient(35deg, var(--clr-branding-1), var(--clr-branding-2));
    --gradient-2: linear-gradient(-35deg, var(--clr-branding-2), var(--clr-branding-1));

    /* dark */

    --clr-dark-1: rgb(0, 0, 0);
    --gradient-dark-1: linear-gradient(45deg, rgb(6, 6, 6), rgb(141, 118, 163));
  
    /* layout */
    --padding-inline-large: 2.5em;
    --padding-inline-small: 1em;
    --padding-large: 2em;
    --padding-small: 1em;
    --margin-large: 3.5em;
    --margin-small: .5rem;
    --border-radius-small: 0.5rem;
  }
  
  /* RESET */
  
  body {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  img {
    margin: 0;
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  section {
    min-height: 100vh;
  }
  
  .flex {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    gap: 1.2em;
  }
  
  /*   H E A D E R  */
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(to right, rgba(96, 2, 82, 0.2), rgba(1, 47, 77, 0.2));
    color: var(--clr-text-light);
    padding-inline-start: var(--padding-inline-small);
    padding-inline-end: var(--padding-inline-small);
    border-bottom: 1px solid var(--clr-branding-1);
    /**/
    box-shadow: 0em 0em 5em 0em var(--background-dark);
  }
  
  .header-menu {
    position: relative;
    border: 1px solid green;
  }
  
  .mode {
    position: relative;
  }
  
  .mode > label {
    height: 100%;
    display: block;
    border: 2px solid blue;
    cursor: pointer;
  }
  
  #mode:checked > header {
    background-color: red;
  }
  
  .header-menu > .menu-btn {
    width: 3em;
    cursor: pointer;
  }
  
  .svg-icon {
    cursor: pointer;
    pointer-events: none;
  }
  
  .a11y-menu {
    height: 0;
    position: absolute;
    top: 4em;
    left: -3em;
    padding: 1em .5em;
    background-color: #222297;
    opacity: 0;
    transition-duration: .3s;
    /**/
    transform: translateX(15em);
  }
  
  .active {
    height: fit-content;
    opacity: 1;
    transform: translateX(0em);
  }
  
  .letter-spacing {
    text-align: center;
  }
  
  .wrap > a {
    color: var(--clr-text-light);
  }
  
  h1 {
    transform: translateX(-10000px) translateY(-10000px);
  }

  /* W E L C O M E */

.welcome {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
  }
  
  .bg, .svg-wrap {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: var(--gradient-1);
  }
  
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
  }
  
  .title-wrap {
    position: relative;
    top: 40%;
    text-align: center;
    color: yellowgreen;
    font-size: 4em;
    text-shadow: 0 0 5px red;
    border: 1px solid green;
    z-index: 10;
  }
  
  /*  N A V I G A T I O N  */

nav {
    line-height: 2em;
    background: var(--gradient-2);
    text-align: center;
  }
  
  .nav-main {
    background-image: url('./img/npl-tru.png');
    background-size: cover;
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 100%;
  }
  
  .nav-main > ul {
    height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  .nav-list > li {
    height: 20%;
    border: 1px dotted white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-btn {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--radial-2);
    transition-duration: .7s;
    opacity: 0;
    z-index: -1;
  }
  
  .nav-btn:hover::before {
    transform: translateX(2em);
    opacity: 1;
    background-image: url('./img/rekbu.png');
    box-shadow: 1em 1em 1em orange;
  }
  