.template__grid-wrap {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
}

.grid-item {
    position: relative;
    border: 1px solid blue;
    padding: 2em 0;
    display: flex;
    /* height: 10vh; */
}

/* .grid-item::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 1;
    transition-duration: .7s;
    background: var(--clr-text-dark);
    filter: blur(2px);
    pointer-events: none;
} */

.grid-item:hover::before {
    opacity: 0;
}

.screenshot-wrap {
    position: relative;
    border: 1px solid blue;
    padding: 2em 0;
    overflow-x: scroll;
}

.template__title {
    animation: show .7s;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}