<section class="welcome">

    <div class="bg"></div>

    <nav class="nav-main flex">
        <a href="/" class="nav-btn">Home</a>
        <a href="about" class="nav-btn">About</a>
        <a href="work" class="nav-btn">Work</a>
    </nav>

    <div class="title-wrap">
        <h2>Web development & design</h2>
    </div>

    <div class="svg-wrap">
        <svg class="svg-el" viewBox="0 0 1269 845" fill="none" xmlns="http://www.w3.org/2000/svg">
  
          <!-- <path d="M100,300 C200,100 400,100 500,300" stroke="blue" stroke-width="3"/>
          <path d="M100,350 C200,100 400,100 500,300" stroke="blue" stroke-width="3"/>
          <path d="M100,400 C200,100 400,100 500,300" stroke="blue" stroke-width="3"/>
          <path d="M100,450 C200,100 400,100 500,300" stroke="blue" stroke-width="3"/>
  
          <path d="M100,550 C200,100 400,100 500,300" stroke="blue" stroke-width="3"/>
  
          <circle cx="25" cy="75" r="20" stroke="red" fill="transparent" stroke-width="5"/>
  
          <path d="M 500 600 C 600 400, 700 400, 800 600 S 1000 800, 1100 600" stroke="blue" stroke-width="3"/>
          <path d="M 500 700 C 600 500, 700 500, 800 700 S 1000 900, 1100 700" stroke="blue" stroke-width="3"/> -->

        </svg>
    </div>
</section>

<div class="more-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, modi.</p>
    <div class="ticker">
        <p>ticker elelemnt</p>
    </div>
    <div class="welcome-card">
        <img src="../public/img/gm-cetiir.png" alt="">
    </div>
</div>