<section class="welcome">

    <div class="bg"></div>
    <img class="fg" src="../public/img/uno-1.png" alt=""/>

    <nav class="nav-main archivo-test">
        <a href="/" class="nav-btn">Home</a>
        <a href="about" class="nav-btn">About</a>
        <a href="work" class="nav-btn">Work</a>
    </nav>

    <div class="title-wrap archivo-test">
        <h2>Web design & development</h2>
    </div>

    <div class="content-wrap archivo-test">
        <div class="content-title">
            <p>CREATIVE SOLUTIONS</p>
        </div>
        <div class="content">
            <div class="content-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, libero.</p>
            </div>
            <figure class="content-img">
                <img src="../public/img/pomp.png" alt="">
                <figcaption class="img-title">alo</figcaption>
            </figure>
        </div>
    </div>

    <div class="svg-wrap">
        <svg class="svg-el" viewBox="0 0 1269 845" fill="none" xmlns="http://www.w3.org/2000/svg">
  
          <path d="M100,300 C200,100 400,100 500,300" stroke="orchid" stroke-width="3"/>
          <path d="M100,350 C200,100 400,100 500,300" stroke="orchid" stroke-width="3"/> 
          <!-- <path d="M0,200 500,75 500,300 200,600" stroke="blue" stroke-width="3"/> -->
          <!-- <path d="M100,450 C200,100 400,100 500,300" stroke="blue" stroke-width="3"/> -->
  
          <!-- <path d="M100,550 C200,100 400,100 500,300" stroke="blue" stroke-width="3"/>
  
          <path d="M 500 600 C 600 400, 700 400, 800 600 S 1000 800, 1100 600" stroke="blue" stroke-width="3"/>
          <path d="M 500 700 C 600 500, 700 500, 800 700 S 1000 900, 1100 700" stroke="blue" stroke-width="3"/>-->

          <path id="fibonacci" class="fibonacci" d="M 100 100 L" stroke="orchid" stroke-width="3"></path>

        </svg>
    </div>

    <div class="more-content">
        <div class="text-wrap">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, modi.</p>
            <div class="deco"></div>
        </div>
        <div class="welcome-card">
            <img src="../public/img/back.png" alt="">
        </div>
    </div>
    <p class="test">Lorem ipsum dolor sit amet consecteturnon blanditiis sapiente quibusdam distinctio aspernatur</p>
</section>

<!-- <div class="preview-widget">
    <h3>test za extra content widget</h3>
    <div class="widget-content flex">
        <figure>
            <img src="../public/img/uno-1.png" alt="">
            <figcaption>UNO</figcaption>
        </figure>
        <figure>
            <img src="../public/img/gm-cetiir.png" alt="">
            <figcaption>4</figcaption>
        </figure>
    </div>
</div>  -->