
<section id="work" class="work">
    
    <div class="title-wrap archivo-test">
        <h2>WORK</h2>
    </div>
    
    <nav class="nav-main flex archivo-test">
        <a href="/" class="nav-btn">WEBDEV</a>
        <a href="about" class="nav-btn">DESIGN</a>
        <a href="work" class="nav-btn">Work</a>
    </nav>


    <div class="content-wrap archivo-test">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur laboriosam cupiditate nihil temporibus alias? Optio illum maiores a tempora provident cum nemo, repudiandae minima nisi veritatis voluptates quos pariatur excepturi molestiae obcaecati earum, facere, odio distinctio quaerat nulla eum nesciunt. Fuga itaque esse non. Esse at deserunt error perferendis non recusandae officiis nemo veniam fuga harum, neque molestias pariatur provident rem aspernatur voluptatibus. Minus nulla itaque quibusdam, quae laboriosam tempore quam rerum vitae corrupti omnis at, illum est, nobis aut? Fuga delectus, libero culpa alias nam quia itaque iusto nemo incidunt nobis, repellat repellendus perferendis explicabo ipsa odio. Quasi, saepe!</p>
    </div>
</section>

