
<section id="work" class="work">
    
    <div class="title-wrap archivo-test">
        <h2>WORK</h2>
    </div>
    
    <nav class="nav-main flex archivo-test">
        <a href="/work/webdev" class="nav-btn">WEBDEV</a>
        <a href="/work/design" class="nav-btn">DESIGN</a>
        <a href="/work/drawings" class="nav-btn">DRAWINGS</a>
        <a href="work/texts" class="nav-btn">TEXTS</a>
        <a href="work/experiments" class="nav-btn">EXPERIMENTS</a>
    </nav>


    <div id="work_main-wrap" class="content-wrap archivo-test">
        
    </div>
</section>

